@font-face {
    font-family: mr;
    src: url('@/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: mm;
    src: url('@/assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: mb;
    src: url('@/assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: mab;
    src: url('@/assets/fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: rr;
    src: url('@/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: mar;
    src: url('@/assets/fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
    font-family: ir;
    src: url('@/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: meb;
    src: url('@/assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: msb;
    src: url('@/assets/fonts/Montserrat-SemiBold.ttf');
}

